# misc
*.bak

# python compiled files
# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# pyenv
.python-version

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# python CI
dist

# doc
site

# Jupyter Notebook
.ipynb_checkpoints

# VS code
.vscode