j.gressier <jeremie.gressier@isae.fr> J. Gressier <jeremie.gressier@isae.fr>
j.gressier <jeremie.gressier@isae.fr> Jeremie Gressier <jeremie.gressier@isae.fr>
j.gressier <jeremie.gressier@isae.fr> jgressier <jgressier@users.noreply.github.com>
T. Bridel-Bertomeu <thibault.bridelbertomeu@gmail.com> Thibault Bridel-Bertomeu <thibault.bridel-bertomeu@isae-supaero.fr>
