# git shortlog -sne --all
J. Gressier <jeremie.gressier@isae-supaero.fr> <jeremie.gressier@isae.fr>
J. Gressier <jeremie.gressier@isae-supaero.fr> <jgressier@users.noreply.github.com>
T. Bridel-Bertomeu <thibault.bridelbertomeu@gmail.com> <thibault.bridel-bertomeu@isae-supaero.fr>
T. Bridel-Bertomeu <thibault.bridelbertomeu@gmail.com> <thibault.bridelbertomeu@gmail.com>:wq
