aerokit >= 1.3
# mkdocs-material
# mkdocs-include-markdown-plugin
# mkdocs-exclude
# ipykernel
# mkdocs-jupyter
# mkdocstrings[python] <= 0.22
mkdocs>=1.6,<1.7
mkdocs-material>=9.5,<10
mkdocstrings>=0.29,<0.30
mkdocstrings-python>=1.16,<2
mkdocs-autorefs>=1.4,<2
mkdocs-jupyter>=0.24,<0.25
mkdocs-include-markdown-plugin
mkdocs-exclude
